$ruler: 10px;
$color-teal: teal;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

.sorting {
    display: flex;
    width: 100%;
    background-color: white;
}

.sorting-panel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 2;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    background-color:white;
}

input {
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: $ruler*20;
    padding: $ruler;
    background-color:$color-bg;
    text-shadow: 1px 1px 0 $color-white;
}

input {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: $ruler;
}

input {
    margin-right: $ruler/2;
    box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;

    &:focus {
        box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
    }
}

